<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="AzureWebJobsDashboard" connectionString="{COPY/PASTE VALUE FROM ARM SCRIPT. REFER HOWTO.MD DOCUMENT}" />
    <add name="AzureWebJobsStorage" connectionString="{COPY/PASTE VALUE FROM ARM SCRIPT. REFER HOWTO.MD DOCUMENT}" />
    <add name="ASQLConn" connectionString="{COPY/PASTE VALUE FROM ARM SCRIPT. REFER HOWTO.MD DOCUMENT}" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="ida:ClientId" value="{COPY/PASTE VALUE FROM ARM SCRIPT. REFER HOWTO.MD DOCUMENT}" />
    <add key="ida:Password" value="{COPY/PASTE VALUE FROM ARM SCRIPT. REFER HOWTO.MD DOCUMENT}" />
    <add key="ida:TenantId" value="{COPY/PASTE VALUE FROM ARM SCRIPT. REFER HOWTO.MD DOCUMENT}" />
    <add key="ida:QueueBillingDataRequests" value="billingdatarequests" />
    <add key="ida:RetryCountToProcessMessage" value="3" />
    <add key="ida:Authority" value="https://login.microsoftonline.com/{0}/" />
    <add key="ida:AzureResourceManagerIdentifier" value="https://management.core.windows.net/" />
    <add key="ida:OfferCode" value="MS-AZR-0003P"/>
    <add key="ida:Currency" value="USD"/>
    <add key="ida:Locale" value="en-US"/>
    <add key="ida:RegionInfo" value="US"/>     
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.WindowsAzure.Storage" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.2.0.0" newVersion="6.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Edm" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.7.0.0" newVersion="5.7.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Services.Client" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.7.0.0" newVersion="5.7.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.OData" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.7.0.0" newVersion="5.7.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>