@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h3>Microsoft Azure Billing Dashboard</h3>
    <br />
        <p> <a href="@Url.Action("SignIn", "Account")" class="btn btn-info btn-primary" role="button">Dashboard</a> Sign-in to view the Dashboard<p>
</div>
